
@import '../util/_vars';

.title {
	@extend .title;
	padding-bottom: 2rem;
}

.content {

}

.left {
	width: 100%;
	overflow: hidden;

	display: inline-block;
	vertical-align: top;

	.image {
		width: 100%;
	}
}

.right {
	width: 40%;
	margin-left: 5%;

	display: inline-block;
	vertical-align: top;
}