
@import '../util/_vars';

.back {
	background-color: #F2F2F2;

	width: 100vw;
	height: 100vh;
}

.title {
	@extend .title;
}

.image_insert {
	background-color: #fff;
}

.card {
	background-color: #fff;
}

.list {
	padding-left: 3rem;
	padding-right: 3rem;
}